@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: space-between;
    column-gap: 20vw;
    row-gap: 30vh;
    margin-top: 90px;
    margin-left: 7%;
    margin-right: 7%;
    z-index: 1;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.title{
    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 140px;
    width: 723px;
}

p{
    width: 680px;
    font-size: 30px;
}

.imgSection{
    flex: 1;
    position: relative;

}

.image {
    position: relative;
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 0 32px 2px #ffffff1e;
}

.sideT{
    position: absolute;
    font-family: "fit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    right: 460px;
    top: 25px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    z-index: 2;
    text-shadow: rgba(255,255,255,0.33) 0px 0px 46px;
}

.contactBtn{
    position: absolute;
    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: white;
    background: var(--color-cme);
    border: none;
    line-height: 15px;
    cursor: pointer;
    margin-top: 80px;
    padding-bottom: 15px;
    padding-inline: 10px;
    box-shadow: 0 0 32px 0px rgb(243,0,66,39);
    transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
    
}

.contactBtn:hover{
    transform: scale(1.04);
}

.scrollContainer{
    position: relative; 
    flex:3;
    display: flex;
    justify-content: center;
}

.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
  }
  
  .scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
  }
  
  @keyframes scrolldown-anim {
    0% {
      opacity: 0;
      height: 6px;
    }
  
    40% {
      opacity: 1;
      height: 10px;
    }
  
    80% {
      transform: translate(0, 20px);
      height: 10px;
      opacity: 0;
    }
  
    100% {
      height: 3px;
      opacity: 0;
    }
  }
  
  .chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  
  .chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
  }
  
  .chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
  }
  
  @keyframes pulse54012 {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.5;
    }
  }

  @media screen and (max-width: 830px) {
    .container{
        flex-direction: column;
        row-gap: 4vh;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 90px;
    }

    .content{
        order: 2;
    }

    .title{
        font-size: 70px;
        width: 330px;
    }
  
    p{
        font-size: 20px;
        width: 300px;
    }

    .contactBtn{
        margin-top: 40px;
    }

    .imgSection{
        order: 1;
    }

    .sideT{
        display: none;
    }

    .image{
        width: 300px;
    }

    .scrollContainer{
        order: 3;
        display: none;
    }
    
  }