@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20vw;
    margin-top: 90px;
    margin-left: 7%;
    margin-right: 7%;
    z-index: 1;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.title{
    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 140px;
    width: 723px;
}

p{
    width: 680px;
    font-size: 30px;
}

.imgSection{
    flex: 1;
    position: relative;

}

.image {
    position: relative;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 0 32px 2px #ffffff1e;
}