@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

h4{
    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
}

@media screen and (max-width: 830px){

    .container{
        width: 140px;
        gap: 10px;
        height: 150px;
    }
    .image{
        width:70%;
        margin-inline: auto;
    }
}