@import "../../vars.css";

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1364px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.iconList{
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 70px;
}

.skillCard{
    position: sticky;
    top: 30px;
    width: 590px;
    height: 650px;
    background-color: var(--color-skills);
    box-shadow: 0 0 32px 2px rgba(31, 204, 146, 0.30);
    border-radius: 30px;
    display: flex;
}

.progress {

    width: 160px;
    height: 160px;
    margin: 0;
    padding: 0;
  }
  
  .progress svg {
    transform: rotate(-90deg);
  }
  
  circle {
    stroke-dashoffset: 0;
    stroke-width: 5%;
    fill: none;
  }
  
  .bg {
    stroke: rgb(0, 0, 0);
    opacity: 0.2;
  }
  
  .progress .indicator {
    stroke: rgb(255, 255, 255);
  }


.info{
    width: 340px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-top: 70px;
    
}

.infoText{
    width: 340px;
    font-size: 20px;
}
.vertical{
    font-family: "fit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 240px;
    writing-mode: vertical-lr;
    opacity: 17%;
    color: black;
    height: 408px;
    margin-left: -30px;
    margin-top: 84px;
}

@media screen and (max-width: 830px){
  .container{
    width: 350px;
    flex-direction: column-reverse;
    gap:100px;
    margin-top: 75px;
  }

  .skillCard{
    width: 350px;
    height: 600px;
    position: relative;
    flex-direction: column;
  }
  .infoText{
    width: auto;
    font-size: 16px;
  }

  .info{
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .progress{
    display: none;
  }
  .vertical{
    font-size: 148px;
    writing-mode: horizontal-tb;
    margin: 0;
    margin-top: 20px;
    height: auto;
}

.iconList{
  width: 350px;
  gap: 10px;
  justify-content: space-around;
  height: 900px;
}

}