@import "../../vars.css";

.container{
    margin-top: 320px;
    display: flex;
    flex-direction: column;
}


.ProjectSection{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 120px;
    row-gap: 120px;
}
.ProjectCard img{
    width: 580px;
    margin: 43px;
    border-radius: 15px;
}

.ProjectCard{
    display: flex;
    border-radius: 30px;
    width: 1364px;
}

#one{
    background-color: #EF4F8B;
    box-shadow: 0 0 32px 2px rgba(239, 79, 139, 0.30);
    /* transition: 550ms; */
}

/* #one:hover{
    box-shadow: 0 0 32px 10px rgba(239, 79, 139, 0.30);

} */

#two{
    background-color: #96CE10;
    box-shadow: 0 0 32px 2px rgba(150, 206, 16, 0.30);

}

#three{
    flex-direction: row-reverse;
    background-color: var(--color-cme);
    box-shadow: 0 0 32px 2px rgba(243, 0, 6, 0.30);
}

#one .ProjectInfo{
    margin-left: 43px;
}
#two .ProjectInfo{
    margin-left: 43px;
}

.ProjectInfo{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 52px;
    color: white;
    height: 300px;
}

.ProjectTitle{
    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px; 
    margin: 0px;
}

.ProjectDesc{
    font-size: 20px;
    width: 540px;
    margin-top: 29px;
}

.ProjectKey{
    display: flex;
    justify-content: space-between;
    width: 540px;
    opacity: 80%;
    font-weight: bold;
    font-size: 20px;
    margin-top: auto;
}

.ProjectKey div{
    background-color: rgba(0, 0, 0, 0.089);
    padding: 5px;
    padding-inline: 15px;
    border-radius: 30px;
    user-select: none;
}

.link{
    text-decoration: none;
    color: white;
}

.link div{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
}

.LinkName   {
    width: 540px;
    font-size: 20px;
    width: 540px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
    font-weight: bold;
}

.LinkName:link {
    text-decoration: none;
  }
  
  .LinkName:visited {
    text-decoration: none;
  }
  
  .LinkName:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .LinkName:active {
    text-decoration: none;
  }
@media screen and (max-width: 830px){

    .container{margin-top: 120px;}

    .ProjectSection{
        row-gap: 60px;
        margin-top: 60px;
    }
  
    .ProjectCard{
        width: 350px;
        flex-direction: column-reverse;
    }

    #three{
        flex-direction: column-reverse;
    }

    .ProjectCard img{
        width: 300px;
        margin: 25px;
    }

    .ProjectInfo{
        margin: 25px;
        margin-bottom: 90px;
    }
    #one .ProjectInfo{
        margin-left: 25px;
    }
    #two .ProjectInfo{
        margin-left: 25px;
    }

    .LinkName{
        width: 300px;
        margin: auto;
    }

    .ProjectDesc{
        width: 300px;
        margin: auto;
    }
    .ProjectKey{
        width: 300px;
        font-size: 15px;
        margin: auto;
        margin-top: 20px;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}