@import "../../vars.css";

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 250px;
}

.card{
    background-color: var(--color-aboutme);
    width: 1364px;
    height: 710px;
    border-radius: 30px;
    box-shadow: 0 0 32px 2px rgba(127, 0, 255, 0.57);
    display: flex;
    column-gap: 240px;
}

.vertical{
    font-family: "fit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 302px;
    writing-mode: vertical-lr;
    margin-left: 147px;
    opacity: 17%;
    color: black;
    height: 720px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    width: 540px;
}

.infoHeader{
    font-family: "elza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 11px;
}

.infoText{
    font-size: 20px;
    width: 540px;
}

@media screen and (max-width: 830px){
    .card{
        width: 350px;
        flex-direction: column;
    }

    .vertical{
        font-size: 148px;
        writing-mode: horizontal-tb;
        margin: 0;
        margin-top: 20px;
        height: auto;
    }

    .info{
        width: 300px;
        margin: auto;
        margin-top: 20px;
    }
    .infoHeader{
        font-size: 28px;
    }
    .infoText{
        width: 300px;
        font-size: 16px;
    }
}